<div class="container d-flex justify-content-center">
  <div class="col-6 mt-5">

    <%= simple_form_for([@plant, @plant_tag]) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="form-inputs">
        <%= f.association :tag %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, class: 'btn-block btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
